<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiuhao.jhjk">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 读取数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写入数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 安装卸载文件系统 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 清除应用程序缓存 -->
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 闪光灯 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 获取CUID，用于鉴权，请求签名等 -->
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".APP.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme2">
        <activity android:name=".activity.welcome.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.welcome.WelcomeSiActivity" />
        <activity android:name=".activity.welcome.RegisterActivity" />
        <activity android:name=".activity.welcome.BindPhoneActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" />
        <activity android:name=".view.NewsWebView" />
        <activity
            android:name=".activity.mine.DoctorCertified.MessageCertifiedActivity"
            android:label="@string/title_activity_message_certified"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.mine.DoctorCertified.CertifiedActivity"
            android:label="@string/title_activity_certified"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.mine.DoctorCertified.CertifiedPassActivity"
            android:label="@string/title_activity_certified_pass"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.mine.UserPhoneActivity"
            android:label="@string/title_activity_user_phone"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.mine.AccountManagementActivity"
            android:label="@string/title_activity_account_management"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.mine.UserPassActivity"
            android:label="@string/title_activity_user_pass"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.mine.ConsultingFeeActivity"
            android:label="@string/title_activity_consulting_fee"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.mine.ConsultingActivity"
            android:label="@string/title_activity_consulting"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.mine.FeePersonActivity"
            android:label="@string/title_activity_fee_person"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.mine.CutUserActivity"
            android:label="@string/title_activity_cut_user"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.mine.IntegralActivity"
            android:label="@string/title_activity_integral"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.mine.BillActivity"
            android:label="@string/title_activity_bill"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.mine.AboutOurActivity"
            android:label="@string/title_activity_about_our"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.mine.PersonalDataActivity"
            android:label="@string/title_activity_personal_data"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.mine.AdministrativeActivity"
            android:label="@string/title_activity_administrative"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.mine.OccupationActivity"
            android:label="@string/title_activity_occupation"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.mine.OutCallActivity"
            android:label="@string/title_activity_out_call"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".activity.mine.LabelActivity"
            android:label="@string/title_activity_label"
            android:theme="@style/AppTheme2"></activity>
    </application>

</manifest>